.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.6;
    font-size: 14px;
    padding: 6px 26px;
    min-width: 132px;
    max-width: 167px;
    border-radius: 5px;
    border: 0px;
    color: white;
}

.disabled {
    opacity: 0.5;
    color: black;
}

.secondary {
    transition: 0.3s linear;
    background-color: #fff;
    color: rgba(0, 102, 204, 1);
    border: 1px solid #0066CC;
}

.default {
    transition: 0.3s linear;
    background-color: rgba(0, 102, 204, 1);
}

.red {
    transition: 0.3s linear;
    background-color: rgba(204, 20, 57, 1);
}

.default:hover {
    background: #0080FF;
    min-width: 167px;
}

.red:hover {
    background: #FF1A47;
    min-width: 167px;
}

.secondary:hover {
    background: #E5F0FA;
    min-width: 167px;
}


.default:active {
    background: #0059B3;
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    background: #B31232;
}

.button:disabled {
    background: #004D99;
}